<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Mavidev Example Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>
<body>
	
	<div class="container">
	
		<h2>Mavidev Example Application</h2>
		
		<hr>
		
		<div class="row">
			<div class="col-sm-12">
				<h3>Enter text :</h3>
				<form action="#" th:action="@{/saveText}" th:object="${data}" method="post">
				  <div class="form-group">
				    <textarea cols="100" rows="15" th:field="*{text}" class="form-control" ></textarea>
				  </div>
				  <button type="submit" class="btn btn-primary" style="float: left;">Save</button>
				</form>		
			</div>
		</div>	

	
	</div>
	
	

</body>
</html>